body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #2c6cac; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #181414;
}

.container {
    text-align: center;
    background: rgb(194, 211, 131);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #070505;
}

#drop-zone {
    border: 2px dashed #bbb;
    padding: 30px;
    border-radius: 10px;
    background: #f9f9f9;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-bottom: 20px;
}

#drop-zone:hover {
    background: #f1f1f1;
}

.images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.images-container div {
    flex: 1;
    text-align: center;
}

.images-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:hover {
    background: #45a049;
}

.hidden {
    display: none;
}
